* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header .navbar {
  width: 100%;
  background: linear-gradient(90deg, #3a489e 0%, #6686c4 100%); }
  header .navbar .container-fluid .logo {
    text-decoration: none;
    color: #A10003;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5rem;
    margin: 1rem; }
    header .navbar .container-fluid .logo img {
      width: 40%; }
  header .navbar .container-fluid .navbar-toggler {
    border: none; }
    header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='whitesmoke' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  header .navbar .container-fluid .navbar-collapse {
    flex-grow: 0; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a {
      text-decoration: none;
      font-family: 'Paytone One', sans-serif;
      font-weight: bold;
      font-size: 1rem;
      margin: 0.5rem;
      color: whitesmoke; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a:hover {
        color: #2231319a; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .navImg .imgRedes {
      margin-top: 0.7rem; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .navImg .imgRedes a img {
        margin: 0.5rem;
        width: 18px;
        transform: scale(1); }
        header .navbar .container-fluid .navbar-collapse .navbar-nav .navImg .imgRedes a img:hover {
          transform: scale(1.1); }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #3a489e 0%, #6686c4 100%);
  background-image: linear-gradient(90deg, #3a489e 0%, #6686c4 100%); }
  footer .link a {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 10px;
    bottom: 0;
    text-decoration: none; }
    footer .link a span {
      text-decoration: underline; }
  footer .copy {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 10px;
    bottom: 0; }

.mainHome {
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainHome .contenedorHome .imgPrin {
    grid-area: imgPrin;
    width: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    align-self: center; }
  .mainHome h1 {
    align-self: flex-start;
    margin-left: 6rem;
    margin-bottom: 3rem;
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    color: whitesmoke; }

.mainService .contenedorService {
  margin-top: 6rem;
  min-height: 95vh; }
  .mainService .contenedorService .tituloService {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: tituloService; }
  .mainService .contenedorService .parrafoPrinSevice {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: parrafoPrinSevice; }
  .mainService .contenedorService .galeria {
    grid-area: galeria;
    display: flex;
    justify-content: space-around;
    margin: 4rem; }
    .mainService .contenedorService .galeria img {
      width: 250px; }
  .mainService .contenedorService .parrafoSecSevice {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: parrafoPrinSevice;
    grid-area: parrafoSecSevice;
    margin-bottom: 16rem; }

body .contenedorAbout {
  margin-top: 6rem;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-areas: "header" "tituloAbout" "parrafoPrinAbout" "parrafoSecAbout" "galeriaTeam" "footer"; }
  body .contenedorAbout .mainAbout .contenidoAbout {
    background: rgba(58, 72, 158, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    margin-bottom: 2rem;
    max-height: 50vh;
    overflow: auto;
    position: relative; }
  body .contenedorAbout .mainAbout .tituloAbout {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: tituloAbout; }
  body .contenedorAbout .mainAbout .parrafoPrinAbout {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: parrafoPrinAbout; }
  body .contenedorAbout .mainAbout .parrafoSecAbout {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: parrafoPrinAbout;
    grid-area: parrafoSecAbout; }
  body .contenedorAbout .mainAbout .galeriaTeam {
    grid-area: galeriaTeam;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(58, 72, 158, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 10rem;
    overflow: auto; }
    body .contenedorAbout .mainAbout .galeriaTeam .imgGaleria {
      background: linear-gradient(45deg, gold, fuchsia);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4px;
      width: 88px;
      height: 88px;
      margin: 20px; }
      body .contenedorAbout .mainAbout .galeriaTeam .imgGaleria:hover {
        transform: scale(1.1); }
      body .contenedorAbout .mainAbout .galeriaTeam .imgGaleria img {
        position: relative;
        bottom: -14px;
        align-self: center;
        width: 80px;
        height: 80px;
        margin: 30px;
        border-radius: 100%;
        padding: 4px;
        background-color: whitesmoke; }
      body .contenedorAbout .mainAbout .galeriaTeam .imgGaleria h2 {
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: medium; }

body .videoTeam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

body .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 7, 7, 0.918);
  opacity: 0.8; }

.mainCustomer .contenedorCustomer {
  margin-top: 6rem;
  display: grid;
  min-height: 100vh;
  grid-template-areas: "tituloCustomer" "contenedorGaleriaCustomer" "footer"; }
  .mainCustomer .contenedorCustomer .tituloCustomer {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    grid-area: tituloCustomer; }
  .mainCustomer .contenedorCustomer .galeriaCustomer {
    grid-area: contenedorGaleriaCustomer;
    display: flex;
    flex-wrap: wrap;
    margin: 6rem;
    margin-bottom: 2rem;
    gap: 2rem;
    justify-content: center; }
    .mainCustomer .contenedorCustomer .galeriaCustomer .card {
      background-color: transparent;
      border: none; }
      .mainCustomer .contenedorCustomer .galeriaCustomer .card .card-title {
        font-family: 'Public Sans', sans-serif;
        font-weight: bold;
        color: whitesmoke; }
      .mainCustomer .contenedorCustomer .galeriaCustomer .card .card-text {
        font-family: 'Public Sans', sans-serif;
        font-weight: bold;
        color: whitesmoke; }

.mainContact {
  display: flex; }
  .mainContact img {
    width: 80%; }
  .mainContact .contenedorContact {
    margin-top: 6rem;
    display: flex;
    min-height: 100vh;
    grid-template-areas: "header" "form" "footer"; }
    .mainContact .contenedorContact .container-fluid .row {
      padding-left: 0;
      margin: 0; }
      .mainContact .contenedorContact .container-fluid .row .formCamp {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column; }
        .mainContact .contenedorContact .container-fluid .row .formCamp input {
          border-radius: 30px; }
        .mainContact .contenedorContact .container-fluid .row .formCamp .selectPais {
          border-radius: 30px; }
        .mainContact .contenedorContact .container-fluid .row .formCamp textarea {
          border-radius: 30px; }
        .mainContact .contenedorContact .container-fluid .row .formCamp label {
          color: whitesmoke;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          margin-bottom: 10px; }
      .mainContact .contenedorContact .container-fluid .row legend {
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-bottom: 10px; }
      .mainContact .contenedorContact .container-fluid .row .formBotones {
        margin-top: 40px;
        margin-bottom: 2rem; }
        .mainContact .contenedorContact .container-fluid .row .formBotones input {
          margin-top: 40px;
          margin-right: 5px;
          background-color: #C4DDFF;
          border-radius: 20px;
          border: 3px solid #6fdfdf;
          display: inline-block;
          cursor: pointer;
          color: #001D6E;
          font-family: Arial;
          font-size: 19px;
          font-weight: bold;
          padding: 6px 14px;
          text-decoration: none; }
    .mainContact .contenedorContact img {
      width: 50%;
      height: 60%;
      align-self: center; }

/* Hasta 320 */
/* HOME */
@media screen and (max-width: 320px) {
  .mainHome h1 {
    align-self: center;
    margin-bottom: 10rem;
    font-size: larger;
    margin-left: 0; }
  .mainHome .contenedorHome .imgPrin {
    width: 18rem;
    margin: 0; }
  footer {
    display: none; }
  /* SERVICES */
  .mainService {
    display: grid;
    grid-template-areas: "tituloService" "parrafoPrinSevice" "galeria" "parrafoSecSevice"; }
    .mainService .contenedorService .tituloService {
      margin: 0;
      text-align: center;
      margin-top: 2rem; }
    .mainService .contenedorService .parrafoPrinSevice {
      margin: 2rem; }
    .mainService .contenedorService .parrafoSecSevice {
      margin: 2rem; }
    .mainService .contenedorService .galeria {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .mainService .contenedorService .galeria img {
        width: 8rem; }
  /* ABOUT */
  .contenedorAbout {
    min-height: 80vh;
    grid-template-areas: "header" "tituloAbout" "parrafoPrinAbout" "parrafoSecAbout" "galeriaTeam"; }
    .contenedorAbout .mainAbout {
      margin-bottom: 0; }
      .contenedorAbout .mainAbout .galeriaTeam .imgGaleriaOcultar {
        display: none; }
  /* Customer */
  .mainCustomer .contenedorCustomer .tituloCustomer {
    margin-top: 4rem;
    font-size: medium;
    text-align: center; }
  .mainCustomer .contenedorCustomer .galeriaCustomer {
    display: flex;
    justify-content: center;
    margin: 0; }
    .mainCustomer .contenedorCustomer .galeriaCustomer .card img {
      width: 16rem;
      align-self: center; }
    .mainCustomer .contenedorCustomer .galeriaCustomer .card .card-body {
      display: flex;
      flex-direction: column; }
  /* Contact */
  .mainContact .contenedorContact img {
    display: none; } }

/* Desde 320 */
@media screen and (min-width: 320px) {
  /* home */
  .mainHome {
    margin-top: 2rem; }
    .mainHome h1 {
      align-self: center;
      margin-bottom: 10rem;
      font-size: 1.5rem;
      margin-left: 0; }
    .mainHome .contenedorHome .imgPrin {
      width: 18rem;
      margin: 0; }
  footer {
    display: none; }
  /* Services */
  .mainService .contenedorService {
    margin-top: 8rem; }
    .mainService .contenedorService .tituloService {
      text-align: center;
      margin: 0; }
    .mainService .contenedorService .parrafoPrinSevice {
      margin: 2rem; }
    .mainService .contenedorService .parrafoSecSevice {
      margin: 2rem; }
    .mainService .contenedorService .galeria {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .mainService .contenedorService .galeria img {
        width: 8rem; }
  /* About */
  .mainAbout {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem; }
    .mainAbout .galeriaTeam .imgGaleriaOcultar {
      display: none; }
  /* Customer */
  .mainCustomer .contenedorCustomer .tituloCustomer {
    font-size: medium;
    text-align: center;
    margin-top: 2rem; }
  .mainCustomer .contenedorCustomer .galeriaCustomer {
    display: flex;
    justify-content: center;
    margin: 0; }
    .mainCustomer .contenedorCustomer .galeriaCustomer .card img {
      width: 16rem;
      align-self: center; }
    .mainCustomer .contenedorCustomer .galeriaCustomer .card .card-body {
      display: flex;
      flex-direction: column; }
  /* Contact */
  .mainContact .contenedorContact img {
    display: none; } }

/* Desde 600 */
@media screen and (min-width: 600px) {
  /* home */
  .mainHome h1 {
    font-size: 2.5rem; }
  .mainHome .contenedorHome .imgPrin {
    width: 30rem; }
  footer {
    display: flex; }
  /* About */
  .mainAbout .galeriaTeam {
    margin-bottom: 6rem; }
    .mainAbout .galeriaTeam .imgGaleriaOcultar {
      display: inline-block; }
  /* Customer */
  .mainCustomer .contenedorCustomer .tituloCustomer {
    font-size: 2rem; }
  .mainCustomer .contenedorCustomer .galeriaCustomer .card {
    width: 15rem; } }

/* Desde 768 */
@media screen and (min-width: 768px) {
  /* home */
  .mainHome h1 {
    align-self: flex-start;
    margin-left: 10rem;
    margin-bottom: 8rem; }
  .mainHome .contenedorHome .imgPrin {
    width: 35rem; }
  /* Service */
  .mainService .contenedorService .galeria img {
    width: 20%; }
  /* Customer */
  .mainCustomer .contenedorCustomer .galeriaCustomer .card {
    width: 15rem; } }

/* Desde 1024 */
@media screen and (min-width: 1024px) {
  /* home */
  .mainHome .contenedorHome .imgPrin {
    width: 45rem; }
  /* Service */
  .mainService .contenedorService .tituloService {
    text-align: left;
    margin-left: 6rem; }
  .mainService .contenedorService .parrafoPrinSevice {
    margin-left: 6rem;
    margin-right: 6rem; }
  .mainService .contenedorService .parrafoSecSevice {
    margin-left: 6rem;
    margin-right: 6rem; }
  .mainService .contenedorService .galeria img {
    width: 20%; }
  /* About */
  .mainAbout {
    margin-bottom: 1rem; }
  /* Customer */
  .mainCustomer .contenedorCustomer .galeriaCustomer .card {
    width: 15rem; }
  /* Contact */
  .mainContact .contenedorContact img {
    display: inline-block; } }

/* Desde 1200*/
@media screen and (min-width: 1200px) {
  .mainHome .contenedorHome .imgPrin {
    width: 50rem; }
  .mainCustomer .contenedorCustomer .galeriaCustomer .card {
    width: 18rem; }
    .mainCustomer .contenedorCustomer .galeriaCustomer .card img {
      width: 15rem; }
  .mainAbout {
    margin-bottom: 9rem; } }

/* Desde 1920 */
@media screen and (min-width: 1920px) {
  /* Home */
  .mainHome .contenedorHome .imgPrin {
    width: 70rem; }
  .mainAbout {
    margin-bottom: 11rem; } }

body {
  background: linear-gradient(90deg, #3a489e 0%, #6686c4 100%);
  background-image: linear-gradient(90deg, #3a489e 0%, #6686c4 100%); }
