/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------HOME------------------------------------------------ */

/* main home */
.mainHome {
    min-height: 85vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

/* contenedorHome */
.contenedorHome {
    display: grid;
    grid-template-areas:
        "header"
        "contenedorHome"
        "footer";

}

/* img principal */
.imgPrin {
    grid-area: imgPrin;
    width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-self: center;
}

/* -------------------------------------------TERMINA HOME---------------------------------------------- */



/* -------------------------------------------------HEADER----------------------------------------- */

/* Header */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    margin-bottom: 2.5rem;

}

/* contacto */
.imgRedes {
    margin-top: 0.7rem;
}

/* imagenes redes */
.imgRedes img {
    margin: 0.5rem;
    width: 18px;
    transform: scale(1);
}

/* hover images redes */
.imgRedes a img:hover {
    transform: scale(1.1);
}

/* logo */
.logo {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    font-size: larger;
    margin: 1rem;

}

/* nav bt */
.navbar-expand-lg .navbar-collapse {
    flex-grow: 0;
}

.navbar {
    width: 100%;
    background: linear-gradient(90deg, #3a489e 0%, #6686c4 100%);

}


.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='whitesmoke' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");


}

/* menu items enlaces */
.nav-item a {
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
    color: whitesmoke;

}

/* hover items menu */
nav ul li a:hover {
    color: #2231319a;

}

/* termina nav bt */

/* --------------------------------------------TERMINA HEADER---------------------------------------------- */






/* ----------------------------------------------BODY GENERAL-------------------------------------------- */
/* body general */

body {
    background: linear-gradient(90deg, #3a489e 0%, #6686c4 100%);
    background-image: linear-gradient(90deg, rgb(58, 72, 158) 0%, rgb(102, 134, 196) 100%);


}

/* -----------------------------------------------TERMINA BODY GENERAL------------------------------------------- */


/* -----------------------------------------------TITULOS GENERAL------------------------------------------- */
/* titulos */
.tituloService,
.tituloAbout,
.tituloCustomer,
.formCamp {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    margin-left: 1.3rem;
    color: whitesmoke;

}

/* -----------------------------------------------TERMINA TITULOS GENERAL------------------------------------------- */


/* -----------------------------------------------PARRAFOS GENERAL------------------------------------------- */
/* parrafos */
.parrafoSecSevice,
.parrafoPrinSevice,
.parrafoSecSevice,
.parrafoPrinAbout,
.parrafoSecAbout
{
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    margin: 1.3rem;

}

/* -----------------------------------------------TERMINA PARRAFOS GENERAL------------------------------------------- */

/* -----------------------------------------------FOOTER GENERAL------------------------------------------- */


/* footer */
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #3a489e 0%, #6686c4 100%);
    background-image: linear-gradient(90deg, rgb(58, 72, 158) 0%, rgb(102, 134, 196) 100%);
    /* margin-top: 3.8rem; */
}

/* copyright */
.copy,
.link a {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 10px;
    bottom: 0;
}

/* LINKEDIN */
.link a {
    text-decoration: none;
}

/* LINKEDIN NOMBRE */
.link a span {
    text-decoration: underline;
}


/* -----------------------------------------------TERMINA FOOTER GENERAL------------------------------------------- */




/* -----------------------------------------------SERVICES------------------------------------------- */

/* TITULO */
.tituloService {
    grid-area: tituloService;

}

/* PARRAFO PRICIPAL */
.parrafoPrinSevice {
    grid-area: parrafoPrinSevice;
}

/* PARRAFO SECUNDARIO */

.parrafoSecSevice {
    grid-area: parrafoSecSevice;
}

/* GALERIA DE FOTOS */
.galeria {
    grid-area: galeria;
    display: flex;
    justify-content: space-around;
}

/* imagenes galeria */

.galeria img {
    width: 250px;
}

/* -----------------------------------------------TERMINA SERVICES------------------------------------------- */




/* -----------------------------------------------ABOUT------------------------------------------- */

/* MAIN */
.mainAbout {
    min-height: 70vh;
    position: relative;
}

/* CONTENEDOR PRICIPAL */
.contenedorAbout {

    position: relative;
    z-index: 2;
    display: grid;
    grid-template-areas:
        "header"
        "tituloAbout"
        "parrafoPrinAbout"
        "parrafoSecAbout"
        "galeriaTeam"
        "footer";
}

/* BACKGROUND */
.videoTeam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, 0.918);
    opacity: 0.6;
}

/* FIN BACKGROUND */

/* TITULO */
.tituloAbout {
    grid-area: tituloAbout;

}

/* PARRAFO PRICIPAL */
.parrafoPrinAbout {

    grid-area: parrafoPrinAbout;

}

/* PARRAFO SECUNDARIO */
.parrafoSecAbout {
    grid-area: parrafoSecAbout;


}

/* CONTENEDOR GALERIA TEAM */
.galeriaTeam {

    margin: 20px;
    grid-area: galeriaTeam;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* IMAGENES GALERIA TEAM */
.imgGaleria img {
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
}

/* NOMBRES TEAM */
.imgGaleria h2 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
}


/* -----------------------------------------------TERMINA ABOUT------------------------------------------- */

/* -----------------------------------------------CUSTOMER------------------------------------------- */

/* CONTENEDOR PRICIPAL */
.contenedorCustomer {

    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "tituloCustomer"
        "contenedorGaleriaCustomer"
        "footer";

}

/* TITUTLO */
.tituloCustomer {
    grid-area: tituloCustomer;

}

/* ESTILOS BT */
.galeriaCustomer {
    grid-area: contenedorGaleriaCustomer;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 2rem;
    gap: 2rem;
    justify-content: center;
}

.card {
    background-color: transparent;
    border: none;
}

.card-title,
.card-text {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;

}

/* TERMINA ESTILOS BT */

/* -----------------------------------------------TERMINA CUSTOMER------------------------------------------- */

/* -----------------------------------------------CONTACT------------------------------------------- */

/* CONTENDOR PRICIPAL */
.contenedorContact {

    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "form"
        "footer";

}

/* ESTILOS BT */
.row {
    padding-left: 0;
    margin: 0;
}


.formCamp {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;


}

/* TERMINA ESTILOS BT */




/* CAMPOS FORM */
.formCamp input,
.selectPais,
textarea {
    border-radius: 30px;

}

/* TEXTOS CAMPOS FORM */
.formCamp label,
legend {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

/* BOTONES FORM CONTENEDOR */
.formBotones {
    margin-top: 40px;
    margin-bottom: 2rem;

}

/* BOTONES FORM */
.formBotones input {
    margin-top: 40px;
    margin-right: 5px;
    background-color: #C4DDFF;
    border-radius: 20px;
    border: 3px solid #6fdfdf;
    display: inline-block;
    cursor: pointer;
    color: #001D6E;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    padding: 6px 14px;
    text-decoration: none;

}


/* -----------------------------------------------TERMINA CONTACT------------------------------------------- */








/* -----------------------------------------------FULL RESPONSIVE------------------------------------------- */


/* -----------------------------------------------HASTA 320------------------------------------------- */
@media screen and (max-width: 320px) {

    /* HOME */
    .contenedorHome {
        display: grid;
        grid-area:
            "header"
            "main";
    }

    .imgPrin {
        width: 18rem;
    }

    footer {
        display: none;
    }

    /* TERMINA HOME */


    /* SERVICES */
    .mainService {
        display: grid;
        grid-template-areas:
            "tituloService"
            "parrafoPrinSevice"
            "galeria"
            "parrafoSecSevice";

    }

    .galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .galeria img {
        width: 8rem;
    }

    /* TERMINA SERVICES */

    /* ABOUT */
    .contenedorAbout {
        min-height: 100vh;
        grid-template-areas:
            "header"
            "tituloAbout"
            "parrafoPrinAbout"
            "parrafoSecAbout"
            "galeriaTeam";
    }

    /* TERMINA ABOUT */

}


/* -----------------------------------------------TERMINA HASTA 320------------------------------------------- */



/* -----------------------------------------------DESDE 320------------------------------------------- */
@media screen and (min-width: 320px) {

    /* HOME */
    .imgPrin {
        width: 20rem;
    }

    footer {
        display: none;
    }

    /* TERMINA HOME */


    /* SERVICES */

    .galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* TERMINA SERVICES */

    /* ABOUT */
    .imgGaleriaOcultar {
        display: none;
    }

    /* TERMINA ABOUT */

    /* CUSTOMER */

    .tituloCustomer {
        font-size: medium;
    }

    /* TERMINA CUSTOMER */
}

/* -----------------------------------------------TERMINA 320------------------------------------------- */


/* -----------------------------------------------DESDE 600------------------------------------------- */

@media screen and (min-width: 600px) {

    /* HOME */

    .imgPrin {
        width: 30rem;
    }


    footer {
        display: flex;

    }

    /* TERMINA HOME */


    /* SERVICES */
    .parrafoSecSevice {
        margin-bottom: 4rem;
    }

    /* TERMINA SERVICES */


    /* ABOUT */
    .galeriaTeam {
        margin-bottom: 4rem;

    }

    .imgGaleriaMostrar {

        display: inline-block;
    }

    /* TERMINA ABOUT */



    /* CUSTOMER */


    .tituloCustomer {

        margin-bottom: 2rem;
        text-align: center;
        position: relative;
        left: -10px;
        font-size: larger;

    }

}


/* -----------------------------------------------TERMINA DESDE 600------------------------------------------- */


/* -----------------------------------------------DESDE 768------------------------------------------- */
/* desde 768px */
@media screen and (min-width: 768px) {

    /* HOME */

    .imgPrin {
        width: 35rem;
    }

    /* TERMINA HOME */

    /* SERVICE */

    .galeria img {
        width: 20%;
    }

    /* TERMINA SERVICES */

    /* ABOUT */

    .galeriaTeam {
        margin-bottom: 11rem;

    }

    /* TERMINA ABOUT */

    /* CUSTOMER */
    .card{
        width: 15rem;
    }
    /* TERMINA CUSTOMER */



}


/* -----------------------------------------------TERMINA DESDE 768------------------------------------------- */


/* -----------------------------------------------DESDE 1024------------------------------------------- */

@media screen and (min-width: 1024px) {

    /* HOME */
    .imgPrin {
        width: 45rem;

    }

    .imgRedes {
        display: block;
    }

    /* TERMINA HOME */

    /* SERVICES */
    .parrafoSecSevice {
        margin-bottom: 8rem;
    }

    /* TERMINA SERVICES */

    .contenedorAbout {
        display: grid;
        grid-template-areas:
            "header"
            "tituloAbout"
            "parrafoPrinAbout"
            "parrafoSecAbout"
            "galeriaTeam"
            "footer";
    }

    /* ABOUT */
    .galeriaTeam{
        margin: 9rem;
    }
    /* TERMINA ABOUT */

    /* CUSTOMER */
        .tituloCustomer {
            text-align: left;
            margin-left: 4.1rem;
            font-size: 2.5rem;
        }
    
    /* TERMINA CUSTOMER */


}



/* -----------------------------------------------TERMINA DESDE 1024------------------------------------------- */


/* -----------------------------------------------DESDE 1200------------------------------------------- */


/* desde 1200px */
@media screen and (min-width: 1200px) {

    /* HOME */
    .imgPrin {
        width: 50rem;

    }
    /* TERMINA HOME */

    /* ABOUT */
    .galeriaTeam{
        margin: 10.2rem;
    }
    /* TERMINA ABOUT */

    /* CUSTOMER */
    .tituloCustomer {
        text-align: center;
        position: relative;
        left: -1rem;
    }

    .card{
        width: 18rem;
    }

    .card img{
        width: 15rem;

      
        
    }


    /* TERMINA CUSTOMER */

}

/* -----------------------------------------------TERMINA DESDE 1200------------------------------------------- */


/* -----------------------------------------------DESDE 1920------------------------------------------- */

@media screen and (min-width: 1920px) {

    /* HOME */
    .imgPrin {
        width: 70rem;
    }
    /* TERMINA HOME */
    /* ABOUT*/
    .galeriaTeam{
        margin:12.7rem;
        width: 8rem;
        height: 8rem;
    }
    /* TEMRINA ABOUT */

    /* CUSTOMER */
    .tituloCustomer {
        text-align: left;
        position: relative;
        left: -30px;
    }

    /* TERMINA CUSTOMER */


}

/* -----------------------------------------------TERMINA DESDE 1920------------------------------------------- */
