/* Hasta 320 */
/* HOME */
@media screen and (max-width: 320px) {
    .mainHome {
        h1 {
            align-self: center;
            margin-bottom: 10rem;
            font-size: larger;
            margin-left: 0;

        }

        .contenedorHome {
            .imgPrin {
                width: 18rem;
                margin: 0;
            }

        }


    }

    footer {
        display: none;
    }

    .mainService {
        .contenedorService {
            margin-top: 8rem;

            .tituloService {
                text-align: center;
                margin: 0;

            }

            .parrafoPrinSevice {

                .servicePaso1 {
                    img {
                        width: 90%;
                    }

                }

                .servicePaso2 {
                    img {
                        width: 90%;
                    }
                }

                .servicePaso3 {
                    img {
                        width: 90%;
                    }
                }

                .servicePaso4 {
                    img {
                        width: 90%;
                    }
                }
                margin: 2rem;

                .serviceNoMostrar {
                    display: none;
                }
            }
        }
    }

    /* ABOUT */
    .contenedorAbout {
        min-height: 80vh;
        grid-template-areas:
            "header"
            "tituloAbout"
            "parrafoPrinAbout"
            "parrafoSecAbout"
            "galeriaTeam";

        .mainAbout {
            margin-bottom: 0;

            .galeriaTeam {
                .imgGaleriaOcultar {
                    display: none;
                }

            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                margin-top: 4rem;
                font-size: medium;
                text-align: center;
            }

            .galeriaCustomer {
                display: flex;
                justify-content: center;
                margin: 0;

                .card {
                    img {
                        width: 16rem;
                        align-self: center;


                    }

                    .card-body {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    /* Contact */
    .mainContact {
        .contenedorContact {
            img {
                display: none;
            }
        }
    }

}




/* Desde 320 */
@media screen and (min-width: 320px) {

    /* home */
    .mainHome {
        margin-top: 2rem;

        h1 {
            align-self: center;
            margin-bottom: 10rem;
            font-size: 1.5rem;
            margin-left: 0;

        }

        .contenedorHome {
            .imgPrin {
                width: 18rem;
                margin: 0;
            }

        }
    }

    footer {
        display: none;
    }

    /* Services */
    .mainService {
        .contenedorService {
            margin-top: 8rem;

            .tituloService {
                text-align: center;
                margin: 0;

            }

            .parrafoPrinSevice {

                .servicePaso1 {
                    img {
                        width: 90%;
                    }

                }

                .servicePaso2 {
                    img {
                        width: 90%;
                    }
                }

                .servicePaso3 {
                    img {
                        width: 90%;
                    }
                }

                .servicePaso4 {
                    img {
                        width: 90%;
                    }
                }
                margin: 2rem;

                .serviceNoMostrar {
                    display: none;
                }
            }
        }
    }

    /* About */
    .mainAbout {
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;

        .galeriaTeam {
            display: flex;
            flex-direction: column;

            .imgGaleriaOcultar {
                display: none;
            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                font-size: medium;
                text-align: center;
                margin-top: 2rem;
            }

            .galeriaCustomer {
                display: flex;
                justify-content: center;
                margin: 0;

                .card {
                    img {
                        width: 16rem;
                        align-self: center;


                    }

                    .card-body {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    /* Contact */
    .mainContact {
        .contenedorContact {
            img {
                display: none;
            }
            .formBotones{
                flex-direction: column;
                input{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

/* Desde 600 */
@media screen and (min-width: 600px) {

    /* home */
    .mainHome {
        h1 {
            font-size: 2.5rem;
        }

        .contenedorHome {
            .imgPrin {
                width: 30rem;
            }
        }
    }

    footer {
        display: flex;

    }

    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 6rem;

            .imgGaleriaOcultar {
                display: inline-block;
            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                font-size: 2rem;
            }

            .galeriaCustomer {
                .card {
                    width: 15rem;
                }
            }
        }
    }
}

/* Desde 768 */
@media screen and (min-width: 768px) {

    /* home */
    .mainHome {
        h1 {
            align-self: flex-start;
            margin-left: 10rem;
            margin-bottom: 8rem;
        }

        .contenedorHome {
            .imgPrin {
                width: 35rem;
            }
        }
    }

    /* Service */
    .mainService {
        .contenedorService {
            .parrafoPrinSevice {
                .serviceNoMostrar {
                    display: inline-block;
                }
            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .galeriaCustomer {
                .card {
                    width: 15rem;
                }
            }
        }
    }
}

/* Desde 1024 */
@media screen and (min-width: 1024px) {

    /* home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 45rem;
            }
        }
    }

    /* Service */
    .mainService {
        .contenedorService {
            .tituloService {
                text-align: left;
                margin-left: 6rem;

            }

            .parrafoPrinSevice {
                display: grid;
                grid-template-areas:
                    "serviceNoMostrar serviceNoMostrar"
                    "servicePaso1 servicePaso2"
                    "servicePaso3 servicePaso4";
                    gap: 3rem;

                .serviceNoMostrar {
                    grid-area: serviceNoMostrar;
                }

                .servicePaso1 {
                    grid-area: servicePaso1;

                    img {
                        width: 90%;
                    }

                }

                .servicePaso2 {
                    grid-area: servicePaso2;

                    img {
                        width: 90%;
                    }
                }

                .servicePaso3 {
                    grid-area: servicePaso3;

                    img {
                        width: 90%;
                    }
                }

                .servicePaso4 {
                    grid-area: servicePaso4;

                    img {
                        width: 90%;
                    }
                }

                margin-left:6rem;
                margin-right: 6rem;
            }
        }
    }

    /* About */
    .mainAbout {
        margin-bottom: 1rem;
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .galeriaCustomer {
                .card {
                    width: 15rem;
                }
            }
        }
    }

    /* Contact */
    .mainContact {
        .contenedorContact {
            img {
                display: inline-block;
            }
            .formBotones{
                flex-direction: row;
                input{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

/* Desde 1200*/
@media screen and (min-width: 1200px) {
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 50rem;
            }
        }
    }

    .mainCustomer {
        .contenedorCustomer {
            .galeriaCustomer {
                .card {
                    width: 18rem;

                    img {
                        width: 15rem;
                    }
                }
            }
        }
    }

    .mainAbout {
        margin-bottom: 12rem;
    }
}

/* Desde 1920 */
@media screen and (min-width: 1920px) {

    /* Home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 70rem;
            }
        }
    }
    /* servicios */
    .servicePaso1 {
        grid-area: servicePaso1;

        img {
            max-width: 70%;
        }

    }

    .servicePaso2 {
        grid-area: servicePaso2;

        img {
            max-width: 70%;
        }
    }

    .servicePaso3 {
        grid-area: servicePaso3;

        img {
            max-width: 70%;
        }
    }

    .servicePaso4 {
        grid-area: servicePaso4;

        img {
            max-width: 70%;
        }
    }
/* nosotros */
    .mainAbout {
        margin-bottom: 14rem;
    }


}