/* Hasta 320 */
/* HOME */
@media screen and (max-width: 320px) {
    .mainHome {
        h1{
            align-self: center;
            margin-bottom: 10rem;
            font-size: larger;
            margin-left: 0;
            
        }
        .contenedorHome {
            .imgPrin {
                width: 18rem;
                margin: 0;
            }

        }
     

    }

    footer {
        display: none;
    }

    /* SERVICES */
    .mainService {
        display: grid;
        grid-template-areas:
            "tituloService"
            "parrafoPrinSevice"
            "galeria"
            "parrafoSecSevice";

        .contenedorService {
            .tituloService{
                margin: 0;
                text-align: center;
                margin-top: 2rem;
               
            }
            .parrafoPrinSevice{
                margin: 2rem;
            }
            .parrafoSecSevice{
                margin: 2rem;
            }
            .galeria {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                img {
                    width: 8rem;
                }
            }
        }
    }

    /* ABOUT */
    .contenedorAbout {
        min-height: 100vh;
        grid-template-areas:
            "header"
            "tituloAbout"
            "parrafoPrinAbout"
            "parrafoSecAbout"
            "galeriaTeam";

        .mainAbout {
            .galeriaTeam {
                .imgGaleriaOcultar {
                    display: none;
                }

            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                margin-top:4rem;
                font-size: medium;
                text-align: center;
            }
            .galeriaCustomer{
                display: flex;
                justify-content: center;
                margin: 0;
                .card{
                    img{
                        width:16rem;
                        align-self: center;


                    }
                    .card-body{
                       display: flex;
                       flex-direction: column;
                    }
                }
            }
        }
    }
    /* Contact */
    .mainContact{
        .contenedorContact{
            img{
                display: none;
            }
        }
    }
   
}




/* Desde 320 */
@media screen and (min-width: 320px) {

    /* home */
    .mainHome {
        margin-top: 2rem;
        h1{
            align-self: center;
            margin-bottom: 10rem;
            font-size: 1.5rem;
            margin-left: 0;
            
        }
        .contenedorHome {
            .imgPrin {
                width: 18rem;
                margin: 0;
            }

        }
    }

    footer {
        display: none;
    }

    /* Services */
    .mainService {
        .contenedorService {
            margin-top: 8rem;
            .tituloService{
                text-align: center;
                margin: 0;
                
            }
            .parrafoPrinSevice{
                margin: 2rem;
            }
            .parrafoSecSevice{
                margin: 2rem;
            }
            .galeria {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                img {
                    width: 8rem;
                }
            }
        }
    }

    /* About */
    .mainAbout {
        margin: 3rem;
        .galeriaTeam {
            .imgGaleriaOcultar {
                display: none;
            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                font-size: medium;
                text-align: center;
                margin-top: 2rem;
            }
            .galeriaCustomer{
                display: flex;
                justify-content: center;
                margin: 0;
                .card{
                    img{
                        width:16rem;
                        align-self: center;


                    }
                    .card-body{
                       display: flex;
                       flex-direction: column;
                    }
                }
            }
        }
    }
    /* Contact */
    .mainContact{
        .contenedorContact{
            img{
                display: none;
            }
        }
    }
}

/* Desde 600 */
@media screen and (min-width: 600px) {

    /* home */
    .mainHome {
        h1{
            font-size: 2.5rem;
        }
        .contenedorHome {
            .imgPrin {
                width: 30rem;
            }
        }
    }

    footer {
        display: flex;

    }

    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 4rem;

            .imgGaleriaOcultar {
                display: inline-block;
            }
        }
    }

   /* Customer */
   .mainCustomer{
    .contenedorCustomer{
        .tituloCustomer{
            font-size: 2rem;
        }
        .galeriaCustomer{
            .card{
                width: 15rem;
            }
        }
    }
}
}

/* Desde 768 */
@media screen and (min-width: 768px) {
    
    /* home */
    .mainHome {
        h1{
            align-self: flex-start;
            margin-left: 10rem;
            margin-bottom: 8rem;
        }
        .contenedorHome {
            .imgPrin {
                width: 35rem;
            }
        }
    }
    /* Service */
    .mainService {
        .contenedorService {
            .galeria {
                img{
                    width: 20%;
                }
            }
        }
    }
    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 11rem;
        }
    }
    /* Customer */
    .mainCustomer{
        .contenedorCustomer{
            .galeriaCustomer{
                .card{
                    width: 15rem;
                }
            }
        }
    }
}

/* Desde 1024 */
@media screen and (min-width: 1024px) {
      /* home */
      .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 45rem;
            }
        }
    }
    /* Service */
    .mainService {
        .contenedorService {
            .tituloService{
                text-align: left;
                margin-left:6rem;
                
            }
            .parrafoPrinSevice{
                margin-left:6rem;
                margin-right: 6rem;
            }
            .parrafoSecSevice{
                margin-left:6rem;
                margin-right: 6rem;
            }
            .galeria {
                img{
                    width: 20%;
                }
            }
        }
    }
    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 11rem;
        }
    }
    /* Customer */
    .mainCustomer{
        .contenedorCustomer{
            .galeriaCustomer{
                .card{
                    width: 15rem;
                }
            }
        }
    }
    /* Contact */
    .mainContact{
        .contenedorContact{
            img{
                display: inline-block;
            }
        }
    }
}

/* Desde 1920 */
@media screen and (min-width: 1200px) {
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 50rem;
            }
        }
    }
    .mainCustomer{
        .contenedorCustomer{
            .galeriaCustomer{
                .card{
                    width: 18rem;
                    img{
                        width: 15rem;
                    }
                }
            }
        }
    }
}

/* Desde 1920 */
@media screen and (min-width: 1920px) {
    /* Home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 70rem;
            }
        }
    }
    

}