/* Hasta 320 */
/* HOME */
@media screen and (max-width: 320px) {
    .mainHome {
        .contenedorHome {
            display: grid;
            grid-area:
                "header"
                "main";

            .imgPrin {
                width: 18rem;
            }

        }

    }

    footer {
        display: none;
    }

    /* SERVICES */
    .mainService {
        display: grid;
        grid-template-areas:
            "tituloService"
            "parrafoPrinSevice"
            "galeria"
            "parrafoSecSevice";

        .contenedorService {
            .galeria {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                img {
                    width: 8rem;
                }
            }
        }
    }

    /* ABOUT */
    .contenedorAbout {
        min-height: 100vh;
        grid-template-areas:
            "header"
            "tituloAbout"
            "parrafoPrinAbout"
            "parrafoSecAbout"
            "galeriaTeam";

        .mainAbout {
            .galeriaTeam {
                .imgGaleriaOcultar {
                    display: none;
                }

            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                font-size: medium;
            }
        }
    }
}




/* Desde 320 */
@media screen and (min-width: 320px) {

    /* home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 20rem;
            }
        }
    }

    footer {
        display: none;
    }

    /* Services */
    .mainService {
        .contenedorService {
            .galeria {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    /* About */
    .mainAbout {
        .galeriaTeam {
            .imgGaleriaOcultar {
                display: none;
            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {
            .tituloCustomer {
                font-size: medium;
            }
        }
    }
}

/* Desde 600 */
@media screen and (min-width: 600px) {

    /* home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 30rem;
            }
        }
    }

    footer {
        display: flex;

    }

    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 4rem;

            .imgGaleriaOcultar {
                display: inline-block;
            }
        }
    }

    /* Customer */
    .mainCustomer {
        .contenedorCustomer {

            .tituloCustomer {

                margin-bottom: 2rem;
                text-align: center;
                position: relative;
                left: -10px;
                font-size: larger;

            }
        }
    }
}

/* Desde 768 */
@media screen and (min-width: 768px) {
    
    /* home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 35rem;
            }
        }
    }
    /* Service */
    .mainService {
        .contenedorService {
            .galeria {
                img{
                    width: 20%;
                }
            }
        }
    }
    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 11rem;
        }
    }
    /* Customer */
    .mainCustomer{
        .contenedorCustomer{
            .galeriaCustomer{
                .card{
                    width: 15rem;
                }
            }
        }
    }
}

/* Desde 1024 */
@media screen and (min-width: 1024px) {
      /* home */
      .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 45rem;
            }
        }
    }
    /* Service */
    .mainService {
        .contenedorService {
            .galeria {
                img{
                    width: 20%;
                }
            }
        }
    }
    /* About */
    .mainAbout {
        .galeriaTeam {
            margin-bottom: 11rem;
        }
    }
    /* Customer */
    .mainCustomer{
        .contenedorCustomer{
            .galeriaCustomer{
                .card{
                    width: 15rem;
                }
            }
        }
    }
}

/* Desde 1920 */
@media screen and (min-width: 1200px) {
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 50rem;
            }
        }
    }
    .mainCustomer{
        .contenedorCustomer{
            .galeriaCustomer{
                .card{
                    width: 18rem;
                    img{
                        width: 15rem;
                    }
                }
            }
        }
    }
}

/* Desde 1920 */
@media screen and (min-width: 1920px) {
    /* Home */
    .mainHome {
        .contenedorHome {
            .imgPrin {
                width: 70rem;
            }
        }
    }
    

}