.mainHome {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contenedorHome {

            .imgPrin{
                grid-area: imgPrin;
                width: 50%;
                margin-left: 2rem;
                margin-right: 2rem;
                align-self: center;
               
                
            }
    }
    h1{
        align-self: flex-start;
        margin-left:6rem;
        margin-bottom: 3rem;
        font-family:$funteTitulos;
        font-weight: bold;
        color: whitesmoke;
        
    }
}