.mainService {
    .contenedorService {
        margin-top: 6rem;
        min-height: 95vh;
        .tituloService {
            font-family: 'Paytone One', sans-serif;
            font-weight: bold;
            color: whitesmoke;
            grid-area: tituloService;
        }

        .parrafoPrinSevice {
            font-family: 'Public Sans', sans-serif;
            font-weight: bold;
            color: whitesmoke;
            grid-area: parrafoPrinSevice;
        }
        .galeria{
            grid-area: galeria;
            display: flex;
            justify-content: space-around;
            margin: 4rem;
            img{
                width: 250px;
            }
        }
        .parrafoSecSevice{
            font-family: 'Public Sans', sans-serif;
            font-weight: bold;
            color: whitesmoke;
            grid-area: parrafoPrinSevice;
            grid-area: parrafoSecSevice;
            margin-bottom: 16rem;
        }

    }
}