body{
    .contenedorAbout {
        margin-top: 6rem;
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-areas:
            "header"
            "mainAbout"
            "footer";
    
        .mainAbout {
            grid-area: mainAbout;
            .contenidoAbout{
                margin-top: 2rem;
                background: rgba( 58, 72, 158, 0.2 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 6.5px );
                -webkit-backdrop-filter: blur( 6.5px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                padding: 2rem;
                margin-bottom: 2rem;
                max-height: 50vh;
                overflow: auto;
                position: relative;

            }
            .tituloAbout {
                margin-left: 1rem;
                font-family: $funteTitulos;
                font-weight: bold;
                color: whitesmoke;
                grid-area: tituloAbout;
            }
    
            .parrafoPrinAbout {
                font-family: 'Public Sans', sans-serif;
                font-weight: bold;
                color: whitesmoke;
            }
            .parrafoSecAbout{
                @extend .parrafoPrinAbout;
            }
            .galeriaTeam {
                grid-area: galeriaTeam;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                background: rgba( 58, 72, 158, 0.2 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 6.5px );
                -webkit-backdrop-filter: blur( 6.5px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                height: 10rem;
                overflow-x: auto;
                .imgGaleria {
                    background: linear-gradient(45deg,gold,fuchsia);
                    border-radius: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 4px;
                    width: 88px;
                    height: 88px;
                    margin: 20px;
                    &:hover{
                        transform: scale(1.1);
                    }
                    img {
                        position: relative;
                        bottom: -14px;
                        align-self: center;
                        width: 80px;
                        height: 80px;
                        margin: 30px;
                        border-radius: 100%;
                        padding: 4px;
                        background-color: whitesmoke;
                       
                        
                    }
                    h2{
                        text-align: center;
                        color: whitesmoke;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: medium;
                    }
                }
            }
    
        }
    
    }

    .videoTeam {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(7, 7, 7, 0.918);
        opacity: 0.8;
    }
}

