.mainContact{
    display: flex;
    justify-content: center;
    img{
        width: 80%;
        
    }
    .contenedorContact
    {   margin-top: 11rem;
        min-height: 100vh;
            .container-fluid{
                margin-top: 20px;
                .row {
                    width: 96vw;
                    .form{
                        margin-right: 2rem;
                        fieldset{
                            legend{
                                font-family: $funteTitulos;
                            }
                            .formCamp{
                                display: flex;
                                flex-direction: column;
                               

                            }
                           

                        }
                     
                    }
                    .formCamp {
                        input{
                            @include Campos(30px,10px,0.5rem);
    
                        }

     
                        textarea{
                            @include Campos(30px,10px,1rem);
                            padding-top: 1rem;
                        }
                        label{
                            position: relative;
                            left: 10px;
                            color: whitesmoke;
                            font-family: 'Roboto', sans-serif;
                            font-weight: bold;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }

                        select{
                            border-radius: 30px;
                            margin-bottom: 10px;
                            padding-left: 0.5rem;
                        }
                    
                    }
                    legend{
                        color: whitesmoke;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .formBotones {
                        display: flex;
                        margin-top: 2rem;
                        input {
                            background-color: #C4DDFF;
                            border-radius: 20px;
                            border: 3px solid #6fdfdf;
                            display: inline-block;
                            cursor: pointer;
                            color: #001D6E;
                            font-family: Arial;
                            font-size: 19px;
                            font-weight: bold;
                            padding: 6px 14px;
                            text-decoration: none;
                            width:90vw;
                            margin-right: 0.5rem;
                        
                        }
                    }
                    
                }
                
            }
    }
}
