.mainCustomer {
    .contenedorCustomer {
        margin-top: 6rem;
        display: grid;
        min-height: 100vh;
        grid-template-areas:
            "tituloCustomer"
            "contenedorGaleriaCustomer"
            "footer";

        .tituloCustomer {
            font-family: $funteTitulos;
            font-weight: bold;
            color: whitesmoke;
            grid-area: tituloCustomer;
        }

        .galeriaCustomer {
            grid-area: contenedorGaleriaCustomer;
            display: flex;
            flex-wrap: wrap;
            margin: 6rem;
            margin-bottom: 2rem;
            gap: 2rem;
            justify-content: center;

            .card {
                background-color: transparent;
                border: none;
                align-self:flex-end;
                .card-title {
                    font-family: 'Public Sans', sans-serif;
                    font-weight: bold;
                    color: whitesmoke;
                }
                .card-text{
                    font-family: 'Public Sans', sans-serif;
                    font-weight: bold;
                    color: whitesmoke;
                }
            }
        }
    }
}